/* App.css */

:root {
  --main-background-color: rgba(28, 35, 33, 1);
  --main-background-color-accent: rgba(48, 55, 53, 1);

  --input-background-color: rgba(238, 241, 239, 1);
  --input-text-color: rgba(28, 35, 33, 1);

  --life-event-color: rgba(0, 156, 255, 1);
  --life-event-color-light: rgba(20, 176, 255, 1);
  --life-event-color-dark: rgba(0, 136, 235, 1);
  --work-event-color: rgba(255, 100, 0, 1);
  --work-event-color-light: rgba(255, 120, 20, 1);
  --work-event-color-dark: rgba(235, 80, 0, 1);

  --main-text-color: rgba(238, 241, 239, 1);

  --main-font-family: "Mulish", sans-serif;
}

#root.light-mode-jg {
  --main-background-color: rgba(238, 241, 239, 1);
  --main-background-color-accent: rgba(218, 221, 219, 1);
  
  --input-background-color: rgba(238, 241, 239, 1);
  --input-text-color: rgba(28, 35, 33, 1);

  --life-event-color: rgba(0, 156, 255, 1);
  --life-event-color-light: rgba(20, 176, 255, 1);
  --life-event-color-dark: rgba(0, 136, 235, 1);
  --work-event-color: rgba(255, 100, 0, 1);
  --work-event-color-light: rgba(255, 120, 20, 1);
  --work-event-color-dark: rgba(235, 80, 0, 1);

  --main-text-color: rgba(28, 35, 33, 1);

  --main-font-family: "Mulish", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  background-color: var(--main-background-color);
  font-family: var(--main-font-family);
  color: var(--main-text-color);
}

.main-jg {
  min-height: 100vh;
  padding: 0.5em;
}

a {
  color: var(--main-text-color);
  text-decoration: none;
}

input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
  font-family: var(--main-font-family);
  border-radius: 0.6em;
  padding: 0.5em;
}

.box-jg {
  background-color: var(--main-background-color-accent);
  margin: 0vh 25vw;
  min-width: 30vw;
  border-radius: 1em;
  padding: 2em;
}

.button-jg {
  padding: 0.5em 1em;
  color: var(--main-text-color);
  font-size: 1em;
  font-weight: bold;
  background-color: var(--life-event-color);
  font-family: var(--main-font-family);
  border-radius: 0.7em;
}

.button-jg:hover {
  background-color: var(--life-event-color-light);
}

.button-jg:focus, .button-jg:active {
  background-color: var(--life-event-color-dark);
}

.header-jg {
  display: flex;
  align-items: center;
  padding: 0em;
}

.header-logo-jg {
  height: 4em;
  margin-right: 0.8em;
}

.header-brand-name-jg {
  flex: 1;
}

.header-button-jg {
  margin-left: 0.8em;
}

.home-welcome-jg {
  min-height: 85vh;
  text-align: center;
  vertical-align: middle;
}

.footer-jg {
  padding: 1em;
  text-align: right;
}

.login-signup-box-jg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signup-form-fields-jg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-signup-input-jg {
  width: 100%;
  margin-bottom: 1em;
}
